<div class="w-full h-screen flex flex-col bg-pink-300">
    <div class="flex flex-col items-start mt-5 ml-5">
        <span class="font-bold text-lg text-black">My Self-Project Planning</span>
    </div>
    <!-- search items -->
    <div class="flex flex-col items-center mt-5">
        <div class="h-full flex flex-row">
            <div class=" border-2 border-gray-400 bg-gray-400 w-8 text-center">
                <mat-icon class="text-black mt-2">search</mat-icon>
            </div>
            <input class="text-base p-2 border-2 border-gray-400 text-black" placeholder="Search By Project Name or Task Description" style="width: 500px" [formControl]="filterGlobalSearchControl">
        </div>
    </div>
    <!-- add new time sheet  -->
    <div class="flex flex-col items-center font-bold">
        <button class="bg-pink-700 border-2 border-pink-900 hover:bg-blue-900 text-white py-1 px-6 rounded-sm m-2 text-center w-26 flex flex-row" (click)="create()">
            <mat-icon class="text-white text-[20px]">add</mat-icon>
            Create
        </button>
    </div>
    <!-- table body -->
    <div class="flex border-2 border-gray-400 ml-5 mr-5">
        <table mat-table [dataSource]="listTimeSheet" matSort class="mat-elevation-z8">
            <!-- Project Column -->
            <ng-container matColumnDef="project">
              <th class="w-16" mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
              <td class="border w-16" mat-cell *matCellDef="let element"> {{element.project}} </td>
            </ng-container>
          
            <!-- Task Column -->
            <ng-container matColumnDef="task">
              <th class="w-16" mat-header-cell *matHeaderCellDef> Task </th>
              <td class="border w-16" mat-cell *matCellDef="let element"> {{element.taskDescription}} </td>
            </ng-container>
          
            <!-- Assignedto Column -->
            <ng-container matColumnDef="assignedto">
              <th class="w-16" mat-header-cell *matHeaderCellDef> Assigned To </th>
              <td class="border w-16" mat-cell *matCellDef="let element"> 
                <div *ngFor="let user of users">
                    <ng-container *ngIf="user.id == element.userId">
                        {{user.username}}
                    </ng-container>
                </div>
             </td>
            </ng-container>
          
            <!-- From Column -->
            <ng-container matColumnDef="from">
              <th class="w-16" mat-header-cell *matHeaderCellDef> From </th>
              <td class="border w-16" mat-cell *matCellDef="let element"> {{element.startDate |  date:'dd MMMM y' }} </td>
            </ng-container>

            <!-- To Column -->
            <ng-container matColumnDef="to">
                <th class="w-16" mat-header-cell *matHeaderCellDef> To </th>
                <td class="border w-16" mat-cell *matCellDef="let element"> {{element.endDate |  date:'dd MMMM y'}} </td>
            </ng-container>

             <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th class="w-16" mat-header-cell *matHeaderCellDef> Status </th>
                <td class="border w-16" mat-cell *matCellDef="let element">
                    <div *ngFor="let status of status">
                        <ng-container *ngIf="status.id == element.statusId">
                            {{status.statusName}}
                        </ng-container>
                    </div>
                </td>
            </ng-container>

           <!-- Operation Column -->
            <ng-container matColumnDef="operation">
                <th class="w-16" mat-header-cell *matHeaderCellDef>Operation</th>
                <td class="border w-16" mat-cell *matCellDef="let element" class="operation-cell">
                <button mat-icon-button matTooltip="Edit" (click)="edit(element.id)">
                    <mat-icon aria-hidden="false" aria-label="Edit icon">edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Delete" (click)="delete(element.id)">
                    <mat-icon aria-hidden="false" aria-label="Delete icon">delete</mat-icon>
                </button>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div> 
    <div class="border border-gray-400 m-5">
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
</div>